<h1>Articles Tagged with <%= @tag.name %></h1>

<div class="containers">
  <% @tag.articles.each do |article| %>
    <h2><%= article.title %></h2>
    <%= link_to "Show Article", article_path(article) %>
    <br>
  <% end %>
</div>
